
@font-face {
    font-family: 'reyhans';
    src: url('../assets/fonts/reyhans-webfont.woff2') format('woff2'),
         url('../assets/fonts/reyhans-webfont.woff') format('woff'),
         url('../assets/fonts/Reyhans.ttf') format('ttf'),
         url('../assets/fonts/Reyhans.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bellatyfat';
    src: url('../assets/fonts/bellaty_scripts-webfont.woff2') format('woff2'),
         url('../assets/fonts/bellaty_scripts-webfont.woff') format('woff'),
         url('../assets/fonts/Bellaty_Scripts.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'hintown';
    src: url('../assets/fonts/hintown_demo-webfont.woff2') format('woff2'),
         url('../assets/fonts/hintown_demo-webfont.woff') format('woff'),
         url('../assets/fonts/Hintown.otf') format('oft');
    font-weight: normal;
    font-style: normal;

}