$color-font: gold;
$font-color-primary:#fff;
$font-color-secundary:rgb(247, 122, 45);
$color-bg-default: #220432;
$color-bg-boxes: #fd3;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav:2.2rem;


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
   
body {
    background-color: $color-bg-default;
    font-family: $font-default;
}

h1 {
    font-family: 'hintown', sans-serif;
    color: $color-font;
    text-align: center;
    margin-top: 4rem;
}

h2 {
    margin-top: 4rem;
    width: 300px;
}
#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}
.section{
    padding: 4rem;
    margin: 0;
}
.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}


@import "vitrine";
@import "nav";
@import "header";
@import "fonts";
@import "sobre";
@import "footer";
@import "hero";
@import "btn-top";